<ion-header [translucent]="isTranslucent">
  <ion-toolbar>
    <ion-title>
      Démonstration Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-button color="success" expand="full" (click)="getNumber()">Générer un nombre aléatoire</ion-button>
  <ion-text class="ion-text-center">
    Nombre généré : {{ nb }}
  </ion-text>
  <ion-button expand="full" (click)="getKitten()">Afficher un chat</ion-button>
  <img [src]="kittenImg" alt="kitten">
</ion-content>
