<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Open Trivia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [hidden]="formIsHidden">
    <ion-item>
      <ion-label position="floating">votre pseudo</ion-label>
      <ion-input type="text" [(ngModel)]="pseudo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Difficulté</ion-label>
      <ion-select [(ngModel)]="level">
          <ion-select-option value="easy">Easy</ion-select-option>
          <ion-select-option value="medium">Medium</ion-select-option>
          <ion-select-option value="hard">Hard</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-toggle type="checkbox" id="save" name="save"></ion-toggle>
      <ion-label for="save">Sauvegarder ces informations</ion-label>
    </ion-item>
    <ion-button (click)="clickMe()" expand="full">Commencer</ion-button>
  </div>

  <div [hidden]="questionIsHidden">
    <div>
      <ion-label color="primary">Bienvenue {{ pseudo }} !</ion-label><br>
      <ion-label>{{ question }}</ion-label>
      <ion-grid>
        {# <ion-row>
          <ion-col size="6">
            <ion-button expand="full" (click)="answer('Blanc')">Blanc</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" (click)="answer('Noir')">Noir</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-button expand="full" (click)="answer('Marron')">Marron</ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button expand="full" (click)="answer('Je ne sais pas')">Je ne sais pas</ion-button>
          </ion-col>
        </ion-row> #}


        <ion-row>
          <ion-col size="5">
            <ion-button color="primary" (click)="clickRequest()" *ngFor="let reponse of reponses" expand="full">{{ reponse }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div [hidden]="questionSuivanteIsHidden">
      <ion-button  expand="full" (click)="showToast()">{{ textBtnQuestionSuivante }}</ion-button>
    </div>
  </div>

</ion-content>
